<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- Favicons -->
  <link rel="icon" type="image/png" href="images/logo.jpg"/>
<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <title>IP -Incubatee</title>
   <!-- CSS only -->
   <link rel="stylesheet" type="text/css" href="/css/viewform.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
   <!-- JavaScript Bundle with Popper -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
     crossorigin="anonymous"></script>
   <script src="https://kit.fontawesome.com/5aa628abff.js" crossorigin="anonymous"></script>
 


</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/"><img src="images/logo.jpg" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="/personal">Back</a>
                </li>
                <li>
                     <h5  class="btn btn-warning" id="btn1" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Cancel Application
        </h5>
                  </li>
                <li>    
                    <!-- Button trigger modal -->

                </li>
            </ul>
        </div>
    </nav>



    <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" id="l10" href="/viewpersonal">Personal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="l10" href="/viewbasic">Basic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="l10" href="/viewteam">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="l10" href="/viewip">IP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="l10" href="/viewbusiness">Business Model</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="l10" href="/viewfinance">Financials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="l10" href="/viewuploads">Uploads</a>
        </li>

      </ul>
    </div>
  </nav>




    <div class="container" id="c1">

        <div class="row g-3 needs-validation" id="basic-form">

            <h6 class="display-6">IP</h6>
            <br>
           

            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Product Name</label>
                <div class="fields col-md-10" id="span1">
                    <span id="inspan"><%=Product_name%></span>
                </div>

            </div>

            <div class="col-md-6">
                <label for="inputAddress" class="form-label">IP Description</label>
                <div class="fields col-md-10" id="span1">
                    <span id="inspan"><%=IP_Description%> </span>
                </div>
            </div>

            <div class="col-md-6">
                <label for="inputAddress2" class="form-label">IP No.</label>

                <div class="fields col-md-10" id="span1">
                    <span id="inspan"><%=IP_No%> </span>
                </div>

            </div>
            <div class="col-md-6">
                <label for="inputAddress2" class="form-label">Country where Applied for IP</label>
                <div class="fields col-md-10" id="span1">
                    <span id="inspan"><%=country%></span>
                </div>


            </div>


            <div class="col-6">
                <label for="inputAddress2" class="form-label">IP Validity</label>
                <div class="fields col-md-10" id="span1">
                    <span id="inspan"><%=IP_validity%></span>
                </div>
            </div>
         <!--   <div class="col-6">
                <label for="inputAddress2" class="form-label">Upload IP Certificate</label>
                <div class="fields col-md-10">
                    <span id="inspan">My name </span>
                </div>
            </div>  -->

            <br>




        </div>


    </div>

    <br><br>
 
    <!-- End Subscribe & Social Links Widget -->

    <!-- Start Copyright -->
    <%- include('./footer'); %>

    <!-- End Container -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top"><i class="icon-up-open-1"></i></a>

    <div id="loader">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>

</body>

</html>


   <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cancel Application !</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h6>Are You sure about Cancel Application ? </h6>
                <p style="color: red;">Your all Data will deleted forever after clicking confirm</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <a href="/cancelapplication"><button class="btn btn-danger">Confirm</button></a>
              </div>
            </div>
          </div>
        </div>

        <script type="text/javascript">
  var myModal = document.getElementById('myModal')
var myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
})
</script>