<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- Favicons -->
  <link rel="icon" type="image/png" href="images/logo.jpg"/>
<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <title>Finance -Incubatee</title>
  <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="/css/viewform.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="images/logo.jpg" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
       
        <li class="nav-item">
          <a class="nav-link" href="/personal">Back</a>
        </li>
        <li>
           <h5  class="btn btn-warning" id="btn1" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Cancel Application
        </h5>
        </li>
      </ul>
    </div>
  </nav>



  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" id="l10" href="/viewpersonal">Personal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="l10" href="/viewbasic">Basic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="l10" href="/viewteam">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="l10" href="/viewip">IP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="l10" href="/viewbusiness">Business Model</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="l10" href="/viewfinance">Financials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="l10" href="/viewuploads">Uploads</a>
        </li>

      </ul>
    </div>
  </nav>




  <div class="container" id="c1">

    <div class="row g-3 needs-validation" id="basic-form">

      <h6 class="display-6">Financials</h6>
      <br>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Maximum Turnover of Any of the Previous Three Financial
          Years</label>

        <div class="fields col-md-10" id="span1">
          <span id="inspan">
            <%=MaxTurnover%>
          </span>
        </div>


      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">What is the Startup’s Current Funding Status?</label>
        <div class="fields col-md-10" id="span1">
          <span id="inspan">
            <%=currentFunding%>
          </span>
        </div>

      </div>
      <div class="col-md-6">
        <label for="inputAddress" class="form-label">Total Funds Received Since Incorporation</label>

        <div class="fields col-md-10" id="span1">
          <span id="inspan">
            <%=TotalFund%>
          </span>
        </div>

        <br>
      </div>
      <h3>Financial Details of Last 3 Years</h3>


      <div class="col-md-6">
        <label for="inputAddress2" class="form-label">Financial Year</label>

        <div class="fields col-md-10" id="span1">
          <span id="inspan">
            <%=FinancialYear%>
          </span>
        </div>

      </div>
      <div class="col-md-6">
        <label for="inputAddress2" class="form-label">Audited Financial No. (in INR)</label>
        <div class="fields col-md-10" id="span1">
          <span id="inspan">
            <%=AuditedFn%>
          </span>
        </div>


      </div>

      <!--
            <div class="col-6">
                <label for="inputAddress2" class="form-label">Upload Proof</label>
                <div class="fields col-md-10">
                    <span id="inspan"> </span>
                </div>
            </div>
        </div>
        </div> -->

      <br>




    </div>


  </div>

  <br><br>
  
  <!-- End Subscribe & Social Links Widget -->

  <!-- Start Copyright -->
  <%- include('./footer'); %>>
  <!-- End Container -->

  <!-- Go To Top Link -->
  <a href="#" class="back-to-top"><i class="icon-up-open-1"></i></a>

  <div id="loader">
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>

</body>

</html>



   <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cancel Application !</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h6>Are You sure about Cancel Application ? </h6>
                <p style="color: red;">Your all Data will deleted forever after clicking confirm</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <a href="/cancelapplication"><button class="btn btn-danger">Confirm</button></a>
              </div>
            </div>
          </div>
        </div>

        <script type="text/javascript">
  var myModal = document.getElementById('myModal')
var myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
})
</script>